/* Header section */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.15);
  height: 5vh;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
}
header .left-section {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background-color: #182f4b;
  height: 5vh;
  border: none;
}
header .logo {
  overflow: hidden;
  color: white;
  font-size: 4vh;
}
header .middle-section {
  flex: 2;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  font-size: 2vh;
}
header .right-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header .right-section .apply-btn,
.login-btn {
  font-size: 2vh;
  border: none;
  padding: 1vh 3vh;
}
header .apply-btn {
  background-color: #c7a729;
  border-radius: 0.5vh;
  color: white;
  cursor: pointer;
  transition: 0.15s all;
}

header .apply-btn:hover {
  background-color: #9c8320;
}
header .login-btn {
  background-color: transparent;
  transition: 0.15s background-color, color;
  cursor: pointer;
  border-radius: 0.5vh;
}
header .login-btn:hover, .link:hover{
  background-color: #6098ba;
  color: white;
  
}
.link{
  padding: 1vh 3vh;
  transition: background-color 0.15s;
  border-radius: 0.5vh;
}
/* Main Section */
.logo {
  font-size: 25px;
}
main {
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #266396;
  position: absolute;
  right: 0;
}
main .main-text {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 4.2vh;
  margin: 0;
  padding: 10vw;
}
main h1 {
  color: #c7a729;
}
main p {
  color: white;
}
.main-image {
  flex: 1;
}
main .main-image-logo {
  padding-right: 10vw;
  height: 70vh;
}
