<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/views/dashboard.css" />
    <link rel="stylesheet" href="../../styles/views/general.css" />
    <link rel="stylesheet" href="../../styles/includes/sidebar.css" />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <title></title>
  </head>
  <body>
    <nav class="sidebar" id="sidebar">
      <div class="top-section" id="top-section">
        <div class="pic-container" id="pic-container">
          <img
            src="../../images/user-avatar.svg"
            alt=""
            class="profile-pic"
            id="profile-pic"
          />
        </div>
      </div>
      <div class="middle-section" id="middle-section">
        <ul>
          <li>
            <a href="#"><i class="fi fi-rr-user"></i>Profile</a>
          </li>
          <li>
            <a href="../validated/dashboard.jsp"><i class="fi fi-rr-dashboard"></i>Dashboard</a>
          </li>
          <li>
            <a href="../validated/addEmployee.jsp"
              ><i class="fi fi-rr-user-add"></i>Add Employee</a
            >
          </li>
          <li>
            <a href="../validated/listEmployee.jsp"><i class="fi fi-rr-list"></i>Employee List</a>
          </li>
          <li>
            <a href=""><i class="fi fi-rr-split"></i>Department</a>
          </li>
        </ul>
      </div>
      <div class="bottom-section" id="bottom-section">
        <form action="">
          <button type="submit">
            <i class="fi fi-rr-sign-out-alt"></i>Logout
          </button>
        </form>
      </div>
    </nav>
  </body>
</html>
