

/* Forms */
.login-container{
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 10vh 25vh; */
  border-radius: 2vh; 
  gap: 5vh;
  position: relative;
  /* border: 1px black solid; */
  box-shadow: 5px 0px 5px 1px rgba(0, 0, 0, 0.15);
}
.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.9vh;
  
}
.login-container input{
  font-size: large;
  padding: 1vh;
 	
  border: none;
  border-bottom: 0.1vh solid;
  width: 30vh;
}
.login-submit-btn{
  background-color: #6098ba;
  color: white;
  width: 100%;
  height: 4vh;
  font-size: 2vh;
  border: none;
  border-radius: 0.5vh;
  transition: opacity .15s;
  margin-bottom: 2vh;
}
.login-submit-btn:hover{
  opacity: 0.5;
}
.error-message{

}
img{
	width: 50%;
}

